@header-container-width: 1032px;
@main-container-width: 856px;
@primary-color: #FF6464;
@secondary-color: #00A8CC;
@dark-color: #21243D;
@recent-posts-color: #EDF7FA;
@light-color: #8695A4;
@mobile: ~"(max-width: 375px)";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif;;
}

.header {
  margin: auto;
  max-width: @header-container-width;

  .navbar {
    &__list {
      height: 82px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none;
    }

    &__item {
      margin-left: 33px;
      font-weight: 500;
      font-size: 20px;
      line-height: 29px;
      color: black;
      display: block;
      text-decoration: none;
      transition: color ease .5s;

      &:hover {
        @media (min-width: 997px) {
          color: @primary-color;
        }
      }

      &:last-child {
        @media (max-width: 1043px) {
          padding-right: 10px;
        }
      }

      @media @mobile {
        display: none;
      }
    }

  }
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
}

.about {
  display: flex;
  margin-top: 140px;
  justify-content: space-between;

  &__title {
    color: @dark-color;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;
    margin-bottom: 40px;

    @media @mobile {
      font-size: 32px;
      line-height: 40px;
      text-align: center;
      padding: 0 32px;
    }
  }

  &__info {
    margin-bottom: 88px;
    max-width: 497px;
    @media @mobile {
      order: 1;
      text-align: center;
      margin-bottom: 59px;
      margin-top: 34px;

    }
  }

  &__text {
    margin-bottom: 38px;

    @media @mobile {
      margin-bottom: 27px;
      padding: 0 24px;
    }
  }

  &__avatar {
    @media @mobile {
      order: 0;
      display: flex;
      justify-content: center;
    }
  }

  .avatar-image {
    border-radius: 100%;
  }

  @media @mobile {
    flex-direction: column;
  }

}

.container {
  margin: auto;
  max-width: @main-container-width;

}

.main {
  margin-top: 140px;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: @dark-color;
}

.btn {
  color: #FFF;
  background-color: @primary-color;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  outline: none;
  border: none;
  padding: 10px 20px;
  transition: background-color ease .5s;

  &:hover {
    cursor: pointer;
    background-color: darken(@primary-color, 10%);
  }
}

.recent-posts {
  display: flex;
  justify-content: space-between;

  &-wrapper {
    background-color: @recent-posts-color;
  }

  &__title {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 60px;

    @media @mobile {
      font-size: 18px;
    }


  }

  &__info {
    display: flex;
    justify-content: space-between;
    @media @mobile {
      justify-content: center;

      *:last-child {
        display: none;
      }
    }
  }

  &__all {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: @secondary-color;
    font-size: 16px;
    line-height: 23px;
  }

  &__post {
    padding: 26px 50px 34px 20px;
    margin-bottom: 33px;
    max-width: 418px;
    background-color: #FFF;
    color: @dark-color;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    border-radius: 4px;


    @media @mobile {
      padding: 12px 19px;
      max-width: 354px;
      margin-left: 10px;
    }

    &-title {
      font-weight: bold;
      font-size: 26px;
      line-height: 38px;
      margin-bottom: 37px;
      @media @mobile {
        font-size: 22px;
        line-height: 30px;
      }
    }

    &-date {
      padding-right: 29px;
      border-right: 1px solid @dark-color;
    }

    &-theme {
      padding-left: 29px;
    }

    &-message {
      margin-top: 26px;
      font-size: 16px;
      line-height: 23px;
    }
  }

  @media @mobile {
    flex-direction: column;
    .recent-posts__post:last-child {
      margin-bottom: 50px;
    }
  }
}

.fworks {
  margin-top: 15px;
  color: @dark-color;

  &__title {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 60px;
    @media @mobile {
      font-size: 18px;
      text-align: center;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;

    @media @mobile {
      flex-direction: row;
      overflow: auto;
    }
  }

  &__work {
    display: flex;
    padding-bottom: 15px;
    margin-top: 31px;
    border-bottom: 1px solid #E0E0E0;

    @media @mobile {
      min-width: 90%;
      flex-direction: column;
      margin-left: 10px;

    }

    .work-image-wrapper {
      display: block;
      min-width: 246px;
      min-height: 180px;
    }
  }


  .work {
    &__image {
      border-radius: 6px;
      width: 246px;
      height: 180px;

      @media @mobile{
        width: 90%;
      }
    }

    &__content {
      margin-left: 18px;
      @media @mobile{
        margin-left: 0;
      }
    }

    &__title {
      text-decoration: none;
      display: block;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 44px;
      transition: color .5s;



      &:visited {
        color: @dark-color;
      }
    }

    &__year {
      font-style: normal;
      font-weight: 900;
      font-size: 18px;
      line-height: 60px;
      color: #FFF;
      background-color: #142850;
      padding: 0 10px;
      border-radius: 16px;
    }

    &__section {
      color: @light-color;
      margin-left: 26px;
    }
  }
}

.footer {
  margin-top: 83px;
  padding: 51px 0;

  .social {
    display: flex;
    justify-content: center;

    &__icon {
      &:not(:last-child) {
        margin-right: 35px;
      }

      &:hover {
        transform: scale(1.2);
      }
    }

  }

  &__rights {
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    margin-top: 26px;
  }
}
